/* CSS Document */

body {
	background-color: #4f83bc;
}

#italy{
	margin-left:50%;
	margin-top:-5%;
	position:absolute;
	
	max-width:2000px;
	max-height:1200px;
	width:120%px;
	height:120%;
}

#logo {
	position:absolute;
	max-width:200px;
}
#compass{
	width:200px;
	margin-left:80%;
	height:auto;
}

#whale {
	margin-top:220%;
	margin-left:40%;
	opacity:10%;
	width:150px;
	height:auto;
}

#topastitle {
	font-family: "Trajan Pro 3";
}
